 <div id="profilehead">
        <div id="profile">
            <h1>
              <%= @user.name %>
            </h1>
          <b><%= link_to @user.email %></b>
          <br>
          <br>
          <br>
         </div>
       <div class="profilenav">
      <ul class="nav nav-pill nav-stacked">
        <li class="active"><%= link_to "Basic Information", '#info', :role => "pill", :data => {:toggle => "pill"} %></li>
        <li><%= link_to "Vehicles", '#vehicles', :role => "pill", :data => {:toggle => "pill"} %></li>
        <li><%= link_to "Claims", '#claims', :role => "pill", :data => {:toggle => "pill"} %></li>
        <li><%= link_to "Policy", '#policy', :role => "pill", :data => {:toggle => "pill"} %></li>
      </ul>
    </div>
</div>

<div id="profilebody">
<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
      <%= render 'shared/general' %>
    </div>
    <div id="vehicles" class="tab-pane fade"> 
        <%= render 'shared/vehicle' %>
    </div>
    <div id="claims" class="tab-pane fade"> 
      <p>Test</p>
    </div>
      <div id="policy" class="tab-pane fade"> 
    </div>
</div>
</div>
