
<h1>Compare Rates Now!</h1>
<div class="fit">
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "General", '#general', :role => "tab", :data => {:toggle => "tab"} %></li>
  <li><%= link_to "Liability Information", '#liability', :role => "tab", :data => {:toggle => "tab"} %></li>
  <li><%= link_to "Vehicle Information", '#vehicle', :role => "tab", :data => {:toggle => "tab"} %></li>
</ul>

<div class="tab-content">
  <div id="general" class="tab-pane fade in active">
    <%= render "shared/liability" %>
  </div>
  <div id="liability" class="tab-pane fade">
    <%= render 'shared/liability' %>
  </div>
  <div id="vehicle" class="tab-pane fade">
    <%= render 'shared/vehicle' %>
  </div>
</div>
</div>