<br>
<br>
<p>(Based On Your Preferred Policy)</p>
<% if Companylist.first.active == "0" && Companylist.second.active == "0"%>
<% else %>
      <table class="table table-bordered">
        <tr>
          <td><b>Company Name:</b></td>
          <% @companylist.each do |c| %>  
          <% if c.active == "1" %>
            <td><%=c.name%></td> 
          <% end %>
          <% end %>
        </tr>
        <tr>
          <td><b>Bodily Injury:<b></td>
           <% @biarray.each do |i| %>
            <% if i == nil %>
            <% if @companylist.find(@bicount).active == "1" %>
            <td><p>N/A</p></td>
            <% @total[@bicount] += 1 %>
            <% end %>
            <% elsif i.companylist_id == @bicount && @companylist.find(@bicount).active == "1" %>
            <td><p>+<%=i.price%></p></td>
            <% @total[@bicount] += i.price %>
            <% else %>
             <% end %>
             <% @bicount += 1 %>
           <% end %>
       </tr>
       <tr>
         <td><b>Property Damage:</b></td>
         <% @pdarray.each do |i| %>
          <% if i == nil %>
             <% if @companylist.find(@pdcount).active == "1" %>
               <td><p>N/A</p></td>
             <% end %>
         <%elsif i.companylist_id == @pdcount  && @companylist.find(@pdcount).active == "1"  %>
         <td><p>+<%=i.price%></p></td>
         <% @total[@pdcount] += i.price %>
         <% else %>
         <% end %>
         <% @pdcount += 1 %>
         <% end %>
            </tr>
                   <tr>
         <td><b>Personal Injury Protection:</b></td>
         <% @piparray.each do |i| %>
          <% if i == nil %>
             <% if @companylist.find(@pipcount).active == "1" %>
               <td><p>N/A</p></td>
             <% end %>
         <%elsif i.companylist_id == @pipcount  && @companylist.find(@pipcount).active == "1"  %>
         <td><p>+<%=i.price%></p></td>
         <% @total[@pipcount] += i.price %>
         <% else %>
         <% end %>
         <% @pipcount += 1 %>
         <% end %>
            </tr>
            <tr>
              <td><b>Uninsured Motorist:</b></td>
         <% @unmotorarray.each do |i| %>
          <% if i == nil %>
             <% if @companylist.find(@unmotorcount).active == "1" %>
               <td><p>N/A</p></td>
             <% end %>
         <%elsif i.companylist_id == @unmotorcount  && @companylist.find(@unmotorcount).active == "1"  %>
         <td><p>+<%=i.price%></p></td>
         <% @total[@unmotorcount] += i.price %>
         <% else %>
         <% end %>
         <% @unmotorcount += 1 %>
         <% end %>
            </tr>
          <tr>
              <td><b>Under Insured Motorist:</b></td>
            <% @undermotorarray.each do |i| %>
          <% if i == nil %>
            <% if @companylist.find(@undermotorcount).active == "1" %>
               <td><p>N/A</p></td>
             <% end %>
            <%elsif i.companylist_id == @undermotorcount  && @companylist.find(@undermotorcount).active == "1"  %>
         <td><p>+<%=i.price%></p></td>
            <% @total[@undermotorcount] += i.price %>
         <% else %>
         <% end %>
            <% @undermotorcount += 1 %>
         <% end %>
            </tr>
       <tr>
         <td><b>Total Price:</b></td>
         <% @total.each do |i| %>
         <% if i > 1 %>
         <td><b>= <%=i%></b></td>
         <% elsif i == 1  %>
         <td><b>= 0</b></td>
         <% else %>
         <% end %>
         <% end %>
        </tr>
      </table>
        <% end %>
        