              <% if @basicinfo == nil %>
<% if current_user.agent != true || @user == current_user %>
                <%= link_to "Add to Basic info", basicinfosnew_path, class: "btn btn-lg btn-primary" %>
                <% else %>
                <% end %>
        <% else %>
      <table class="table table-bordered">
        <% @user.basicinfos.each do |b| %>
        <tr><td><b>First Name:</b></td><td><%= b.first_name %></td></tr>
        <tr><td><b>Last Name:</b></td><td><%= b.last_name %></tr>
        <tr><td><b>Suffix:</b></td><td><%= b.suffix %></tr>
        <tr><td><b>Home Phone Number:</b></td><td><%= b.home_phone %></tr>
        <tr><td><b>Work Phone Number:</b></td><td><%= b.work_phone %></tr>
        <tr><td><b>Mailing Address:</b></td><td><%= b.mailing_address %></tr>
        <tr><td><b>City:</b></td><td><%= b.city %></tr>
        <tr><td><b>State:</b></td><td><%= b.state %></tr>
        <tr><td><b>Zipcode:</b></td><td><%= b.zipcode %></tr>
         <% end %>
      </table>
      <% if current_user.agent != true || @user == current_user %>
      <%= link_to "Edit Basic info", basicinfosedit_path, class: "btn btn-lg btn-primary" %>
      <% else %>
      <% end %>
      <% end %>