
<h1>Compare Rates Now!</h1>
<div class="fit">
<ul class="nav nav-tabs">
  <li class="<%=@general%>"><%= link_to "Select A Company", '#general', :role => "tab", :data => {:toggle => "tab"} %></li>
  <li class="<%=@liability%>"><%= link_to "Basic Comparator", '#liability', :role => "tab", :data => {:toggle => "tab"} %></li>
  <li><%= link_to "Existing Quotes", '#myquotes', :role => "tab", :data => {:toggle => "tab"} %></li>
</ul>

<div class="tab-content">
  <div id="general" class="tab-pane fade in <%=@general%>">
    <%= render 'shared/companylist' %>
  </div>
  <div id="liability" class="tab-pane fade in <%=@liability%>">
    <% if @presence == 1 %>
    <%= render 'shared/compare' %>
    <% else %>
    <br>
    <% end %>
  </div>
  <div id="myquotes" class="tab-pane fade">
    <%= render 'shared/existingquote' %>
  </div>
</div>
</div>