
<% @user.vehicles.each do |b| %>
         <b>Vehicle <%= @vehiclecount %></b>
           <table class="table table-bordered">
              <tr><td><b>Manufacturer:</b></td><td><%= b.manufacturer %></td></tr>
              <tr><td><b>Model:</b></td><td><%= b.model %></tr>
              <tr><td><b>SPecification:</b></td><td><%= b.specs %></tr>
              <tr><td><b>Usage:</b></td><td><%= b.use %></tr>
              <tr><td><b>VIN Number:</b></td><td><%= b.vin %></tr>
            </table>
         <% @vehiclecount += 1 %>
        <div class="button">
         <%= link_to "Delete Vehicle", b, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-primary" %></div>
        <% end %>
